<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>PipPipGo</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>Pip Pip Go</string>
		</dict>
	</array>
	<key>AppEnvironment</key>
	<string>$(PIPPIPGO_APP_ENVIRONMENT)</string>
	<key>BackendBaseURL</key>
	<string>$(PIPPIPGO_BACKEND_BASE_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.pippipgo.ios.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pippipgo</string>
			</array>
		</dict>
	</array>
	<key>CognitoClientID</key>
	<string>$(PIPPIPGO_COGNITO_CLIENT_ID)</string>
	<key>CognitoDomain</key>
	<string>$(PIPPIPGO_COGNITO_DOMAIN)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Choose calendars to check your travel plans for schedule conflicts. Calendar contents stay on this device.</string>
</dict>
</plist>
